* {
    margin: 0;
    border: 0;
}

#header {
    background-color: black;
    height: 20vh;
    width: 100%;
}

/*LOGO*/
.logo img {
    height: 100px;
    width: 80px;
    margin: 20px;
}

.logo h1 {
    font-family: 'EB Garamond', serif; 
    color: white; 
    margin-top: -110px;
    margin-left: 110px;
}

.logo h2 {
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: lighter;
    color: white; 
    margin-top: -2px;
    margin-left: 112px;
}

/*NAVBAR*/
.navbar ul {
    list-style: none;
    text-decoration: none;  
    text-align: right;
    margin-top: -45px;
    margin-right: 20px;
}

.navbar li {
    padding: 8px 0px;
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.navbar li a {
    padding: 8px 20px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    background-color: #556B2F;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}

/*CAROUSEL SLIDER*/
.welcome-slider {
    height: 80vh;
    width: 100%;                      
}

.mySlides {
    display: none
}

.w3-content h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    color: white;
    transform: translate(50%, -400%);
    -webkit-transform: translate(50%, -400%);
    -moz-transform: translate(50%, -400%);
    -ms-transform: translate(50%, -400%);
    -o-transform: translate(50%, -400%);
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.w3-left {
    transform: translate(-160%, -1000%);
    -webkit-transform: translate(-160%, -1000%);
    -moz-transform: translate(-160%, -1000%);
    -ms-transform: translate(-160%, -1000%);
    -o-transform: translate(-160%, -1000%);
}

.w3-right {
    transform: translate(160%, -1025%);
    -webkit-transform: translate(160%, -1025%);
    -moz-transform: translate(160%, -1025%);
    -ms-transform: translate(160%, -1025%);
    -o-transform: translate(160%, -1025%);
}


.w3-left:hover,
.w3-right:hover,.w3-badge:hover {
    border-color: olive;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0px;
}

.welcome-slider img {
    height: 80vh; 
    width: 105vw;
    margin-left: -370px;
    margin-top: -5px;
}