* {
    margin: 0;
    border: 0;
}

#header {
    background-color: black;
    height: 17vh;
    width: 100%;
}

/*LOGO*/
.logo img {
    height: 60px;
    width: 50px;
    margin: 20px;
}

.logo h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 29px;
    color: white; 
    margin-top: -80px;
    margin-left: 80px;
}

.logo h2 {
    font-family: 'EB Garamond', serif; 
    font-weight: lighter;
    font-size: 18px;
    color: white;
    padding-bottom: 55px; 
    margin-top: -18px;
    margin-left: 80px;
}

/*NAVBAR*/
.navbar ul {
    list-style: none;
    text-decoration: none;  
    text-align: right;
    margin: -65px 20px 2px auto;
}

.navbar li {
    padding: 5px 0px;
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.navbar li a {
    padding: 8px 20px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    background-color: #556B2F;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}

/*CAROUSEL SLIDER*/
.welcome-slider {
    height: 75vh;
    width: 100%;
}

.welcome-slider img {
    width: 100%;
    height: 85vh;
}

.welcome-slider .container {
    position: relative;
}

.text-block {
    position: absolute;
    background-color: #556B2F;
    height: 35vh;
    width: 30vw;
    opacity: 0.85;
    color: white;
    padding: 35px;
    margin-top: -275px;
    margin-left: 1000px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.text-block h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    font-weight: bolder;
    margin-top: -4px;
}

.text-block p {
    font-family: 'Cabin Condensed', sans-serif;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 5px 0 12px 0;
}

.text-block button {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    width: 125px;
    background: white;
    border-radius: 5px;
    border: none;
    color: #556B2F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.text-block button:hover {
    background-color: #556B2F;
    color: white;
    border: 2px solid white;
    transition: .55s ease-in-out;
    -webkit-transition: .55s ease-in-out;
    -moz-transition: .55s ease-in-out;
    -ms-transition: .55s ease-in-out;
    -o-transition: .55s ease-in-out;
}

.text-block a {
    text-decoration: none;
    color: inherit;
}

.diamond {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 5px 2px;
    background-color: rgb(195, 226, 140);
    border: 1px solid #556B2F;
    display: inline-block;
    border-radius: 20%;
    transform:rotate(-45deg) translate(275%, -225%);
    -webkit-transform:rotate(-45deg) translate(275%, -225%);
    -moz-transform:rotate(-45deg) translate(275%, -225%);
    -ms-transform:rotate(-45deg) translate(275%, -225%);
    -o-transform:rotate(-45deg) translate(275%, -225%);
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.active,
.diamond:hover {
    background-color: #556B2F;
    border: 1px solid ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: #556B2F;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: white;
    color: #556B2F;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Newsletter Section */
.newsletter {
    height: 12vh;
    width: 100%;
    background-color: ivory;
    margin-top: 70px;
    margin-bottom: -70px;
}

.banner {
    padding-top: 10px;
    margin-left: 325px;
    display: inline-flex;
}

.banner h1 {
    font-family: 'EB Garamond', serif;
    font-weight: bold; 
    font-size: 30px;
}

.banner input[type="email"] {
    width: 350px;
    height: 30px;
    margin-left: -15px;
    color: #556B2F;
    border: 2px solid #556B2F;
    background-color: ivory;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.banner input[type="submit"] {
    background-color: #556B2F;
    border: 2px solid #556B2F;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
    width: 100px;
    height: 30px;
    color: ivory;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.banner input[type="email"]::placeholder {
    padding-left: 5px;
    color: rgb(129, 158, 78);
}

.banner input[type="submit"]:hover {
    background-color: white;
    color: #556B2F;
    transition:.5s ease-in-out;
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -ms-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;      
}

form {
    margin-left: 30px;
    margin-top: 22px;
}

/*Works Section*/

.works {
    height: 85vh;
    width: 100%;
    background-color: rgb(222, 240, 192);
    margin-top: 70px;
    margin-bottom: -70px;
}

.works-header h1 {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 30px;
    padding-top: 75px;
    text-align: center;
}

.works-container {
    display: inline-flex;
}

.works-card {
    border: 8px solid #556B2F;
    height: 250px;
    width: 200px;
    text-align: center;
    margin: 20px;
    transform: translate(80%,10%);
    -webkit-transform: translate(80%,10%);
    -moz-transform: translate(80%,10%);
    -ms-transform: translate(80%,10%);
    -o-transform: translate(80%,10%);
}

.works-card img {
    height: 250px;
    width: 200px;
    border: 8px solid ivory;
}

.works-card p {
    font-family: 'Libre Baskerville', sans-serif;
    padding-top: 10px;
    text-align: center; 
}

.card-label {
    height: 75px;
    width: 200px;
    background-color: black;
    opacity: .75;
    margin-top: -85px;
}
.card-label h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 25px;
    padding-top: 30px;
}

.card-label:hover {
    opacity: .5;
}

/*New Section*/

.new {
    height: 35vh;
    width: 100%;
    background-color: ivory;
    margin-top: 50px;
}

.new-container {
    background-color: ivory;
}

.new-container h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 30px; 
    padding-top: 50px;
    padding-left: 225px;
}

.new-container p {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
    padding-left: 225px;
}

.new-container button {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
    height: 50px; 
    width: 200px;
    margin-top: 10px;
    margin-left: 225px;
    background-color: #556B2F; 
    color: ivory; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.new-container button:hover {
    border: 2px solid #556B2F;
    background-color: transparent;
    color: #556B2F;
    font-weight: bold;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.new-container a, .newcontainer a:visited {
    text-decoration: none; 
    color: inherit;
}

.new-cards img {
    height: 200px;
    width: 175px;
    margin-left: 15px;
    transform: translate(412%,-80%);
    -webkit-transform: translate(412%,-80%);
    -moz-transform: translate(412%,-80%);
    -ms-transform: translate(412%,-80%);
    -o-transform: translate(412%,-80%);
}

.new-cards img:hover {
    opacity: .75;
}

/*Home Section*/

.home {
    height: 55vh;
    width: 100%;
    background-color: rgb(222, 240, 192);
    margin-top: 50px;
    margin-bottom: -10px;
}

.home-container {
    display: inline-flex;
    transform:translate(23%,25%);
    -moz-transform:translate(23%,25%);
    -ms-transform:translate(23%,25%);
    -o-transform:translate(23%,25%);
    -webkit-transform:translate(23%,25%);
}

.home-container img {
    height: 250px;
    width: 185px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.home-block h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    margin-left: 35px;
    padding-top: 30px;
}

.home-block p {
    font-family: 'Libre Baskerville',sans-serif;
    font-size: 15px;
    margin-left: 35px;
}

.home-block button {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
    margin-left: 35px;
    height: 50px;
    width: 300px;
    background-color: #556B2F;
    color: ivory;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 15px;
}

.home-block button:hover {
    border: 2px solid #556B2F;
    background-color: ivory;
    color: #556B2F;
    font-weight: bold;
    transition:.5s ease-in-out;
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -ms-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
}

.home-block a {
    text-decoration: none; 
    color: inherit;
}

/* Characters Section */

.characters {
    height: 110vh;
    width: 100%; 
    background-color: ivory; 
    margin-bottom: -70px;
}

.characters-container h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 30px;
    text-align: center; 
    padding-top: 60px;
}

.characters-cards {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    transform:translate(4.5%, 15%);
    -webkit-transform:translate(4.5%, 15%);
    -moz-transform:translate(4.5%, 15%);
    -ms-transform:translate(4.5%, 15%);
    -o-transform:translate(4.5%, 15%);
    margin-bottom: 20px;
}

.characters-cards img {
    height: 215px;
    width: 215px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 8px;
}

.characters-cards img:hover {
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

.characters-cards p {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    text-align: center; 
}

.characters-cards a, .characters-cards a:visited {
    text-decoration: none; 
    color: inherit;
}

.characters-cards a:hover {
    color: olive;
}

/* Update Section */
.update {
    height: 108vh;
    width: 100%;
    background-color: rgb(222, 240, 192);
    margin-top: 50px;
    margin-bottom: -70px;
}

.update-container h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 35px;
    text-align: center; 
    padding-top: 60px;
}

.update-cards {
    height: 530px;
    width: 300px;
    border: 2px solid ivory;
    background-color: ivory;
    display: inline-block;
    margin: 10px 15px;
    transform: translate(87%, 5%);
    -webkit-transform: translate(87%, 5%);
    -moz-transform: translate(87%, 5%);
    -ms-transform: translate(87%, 5%);
    -o-transform: translate(87%, 5%);
}

.update-cards h1 {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    background-color:#556B2F;
    color: ivory;
    height: 50px;
    width: 225px;
    text-align: center;
    padding-top: 5px;
    margin-top: -2px;
}

#news {
    height: 50px;
    width: 90px;
    font-weight: bold;
    letter-spacing: 1px; 
}

#features {
    height: 50px;
    width: 118px;
    font-weight: bold;
    letter-spacing: 1px;
}

#month {
    height: 50px;
    width: 225px;
    font-weight: bold;
    letter-spacing: 1px;
}

.update-cards img {
    height: 275px;
    width: 300px;
}

.update-cards h2 {
    font-family: 'EB Garamond', serif; 
    font-size: 25px;
    text-align: center; 
}

.update-cards p {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.update-cards button {
    background-color: #556B2F;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif; 
    font-size: 15px;
    color: ivory; 
    height: 40px;
    width: 275px;
    margin: 5px 10px 10px;
}

.update-cards button:hover {
    border: 2px solid #556B2F;
    background-color: ivory;
    font-weight: bold;
    color: #556B2F;
    transition:.5s ease-in-out;
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -ms-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
}

.update-cards a, .update-cards a:hover {
    text-decoration: none; 
    color: inherit; 
}

.update-label h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 300px;
    padding-top: 10px;
    text-align: center; 
    color: ivory; 
    background-color: black; 
    opacity: .50;
    margin-top: -35px;
}
/* Footer Section */

.footer {
    height: 65vh;
    width: 100%;
    margin-top: 70px;
    background-image: url(img/middleearth.jpg);
    background-attachment: fixed;
    background-size: cover; 
}

.top {
    background-color: #556B2F;
    height: 4vh;
}

.top h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 18px;
    text-decoration: none;
    color: white; 
    text-align: center;
}

.top a {
    text-decoration: none;
    color: inherit;
}

.logo-footer, .footer-links, .social-footer, .brand{
    background-color: black;
    opacity: .55;
}

.logo-footer {
    height: 20vh;
}

.logo-footer img {
    height: 115px;
    width: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(900%,10%);
    -webkit-transform: translate(900%,10%);
    -moz-transform: translate(900%,10%);
    -ms-transform: translate(900%,10%);
    -o-transform: translate(900%,10%);
}

.footer-links ul {
    padding-top: 20px;
}

.footer-links li {
    font-family: 'EB Garamond', serif;
    font-size: 20px; 
    padding: 10px auto; 
    margin-left: -35px;
    text-align: center; 
    color: white; 
    list-style: none;
}

.footer-links a, .footer-links:visited {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}

.social-footer {
    text-align: center;
}

.social-footer li {
    display: inline;
}

.social-footer img {
    height: 50px;
    width: 50px;
    transform: translate(-40%,10%);
    -webkit-transform: translate(-40%,10%);
    -moz-transform: translate(-40%,10%);
    -ms-transform: translate(-40%,10%);
    -o-transform: translate(-40%,10%);
}

.social-footer a, .social-footer a:hover, .social-footer:visited {
    text-decoration: none; 
    color: inherit;
    cursor: pointer; 
}

.brand {
    text-align: center;
    margin-top: -10px;
    padding-bottom: 10px;
}

.brand h4 {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color: white;
}

/*About Page*/

.about-header {
    background-image: url(img/about.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    height: 60vh; 
    width: 100%; 
    margin-top: -10px;
    margin-bottom: -70px;
}

.about-container h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 80px;
    text-align: center; 
    color: white; 
    padding-top: 90px;
}

.about-container button {
    height: 60px;
    width: 225px;
    margin: 15px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 18px;
    background-color: #556B2F;
    color: ivory;
    transform: translate(222%,10%);
    -webkit-transform: translate(222%,10%);
    -moz-transform: translate(222%,10%);
    -ms-transform: translate(222%,10%);
    -o-transform: translate(222%,10%);
}

.about-container button:hover {
    border: 4px solid #556B2F;
    color: #556B2F;
    background-color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/*Known as Section*/

.known-as {
    height: 7vh; 
    width: 100%; 
    background-color: #556B2F;
    margin-bottom: -70px;
}

.known-as h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 25px;
    letter-spacing: 2px; 
    text-align: center; 
    padding: 8px;
    color: ivory;
}

/*Intro About Section*/ 

.intro-about {
    height: 63vh;
    width: 100%; 
    background-color: ivory; 
    margin-top: 70px; 
    margin-bottom: -70px;
}

.intro-container {
    display: inline-flex; 
    margin: 50px 150px; 
}

.intro-container img {
    height: 300px;
    width: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 50px;
}

.intro-text {
    padding-top: 50px; 
}

.intro-text p {
    font-family: 'EB Garamond', serif; 
    font-size: 20px;
    margin-top: 10px; 
}

/*Facts Section*/

.facts {
    height: 40vh;
    width: 100%; 
    background-color: rgb(222, 240, 192); 
    margin-bottom: -70px; 
}

hr.line {
    width: 30%;
    margin: 0 auto;
    border: 0px none white;
    border-top: 2px solid #556B2F;
}

.facts-container h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 30px; 
    text-align: center; 
    padding-top: 40px;
}

.facts-container h3 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 18px;
    font-style: oblique;
    padding-top: 15px; 
    text-align: center;  
}

.facts-container button {
    height: 50px;
    width: 250px;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 20px;
    background-color: #556B2F; 
    color: ivory; 
    margin-top: 12px;
    transform: translate(254%,5%);
    -webkit-transform: translate(254%,5%);
    -moz-transform: translate(254%,5%);
    -ms-transform: translate(254%,5%);
    -o-transform: translate(254%,5%);
}

.facts-container button:hover {
    border: 2px solid #556B2F;
    background-color: transparent;
    color:#556B2F;
    font-weight: bold;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.facts-container a, .facts-container a:visited {
    text-decoration: none; 
    color: inherit;
}

/* JRR Tolkien Life header section */

.life {
    height: 80vh; 
    width: 100%;
    margin-top: 50px; 
    margin-bottom: -70px; 
    background-color: ivory; 
}

.life-header {
    height: 10vh; 
    width: 100%; 
    background-color: rgb(171, 199, 123);
    margin-top: 70px;
    margin-bottom: -70px; 
}

.life-container h1 {
    font-family: 'EB Garamond', serif; 
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;  
    padding-top: 2px;
}

/*Tab Section - Tolkien's Life*/

/* Style tab links */
.tablink {
    background-color: ivory;
    color: #556B2F;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 17px;
    width: 20%;
}

.tablink:hover {
    background-color: rgb(222, 240, 192);
    color: #556B2F;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#early-life {
    background-color: rgb(222, 240, 192);
    color: #556B2F;
}

#early-career {
    background-color: rgb(222, 240, 192);
    color: #556B2F;
}

#lotr {
    background-color: rgb(222, 240, 192);
    color: #556B2F;
}

#retirement {
    background-color: rgb(222, 240, 192);
    color: #556B2F;
}

#posthumous {
    background-color: rgb(222, 240, 192);
    color: #556B2F;
}

.dark {
    background-color: rgb(117, 153, 56);
    color: ivory;
}

.light {
    background-color: ivory;
    color: #556B2F;
}

.dark:hover {
    background-color: ivory;
    color: #556B2F;
}

.light:hover {
    background-color: #556B2F;
    color: ivory;
}

.tab-career {
    width: 80%;
    transform: translate(12%, 10%);
    -webkit-transform: translate(12%, 10%);
    -moz-transform: translate(12%, 10%);
    -ms-transform: translate(12%, 10%);
    -o-transform: translate(12%, 10%);
}

.tab-life {
    width: 80%;
    transform: translate(12%, 2%);
    -webkit-transform: translate(12%, 2%);
    -moz-transform: translate(12%, 2%);
    -ms-transform: translate(12%, 2%);
    -o-transform: translate(12%, 2%);
}

.tab-lotr {
    width: 80%;
    transform: translate(12%, 2%);
    -webkit-transform: translate(12%, 2%);
    -moz-transform: translate(12%, 2%);
    -ms-transform: translate(12%, 2%);
    -o-transform: translate(12%, 2%);
}

.tab-retirement {
    width: 80%;
    transform: translate(12%, 2%);
    -webkit-transform: translate(12%, 2%);
    -moz-transform: translate(12%, 2%);
    -ms-transform: translate(12%, 2%);
    -o-transform: translate(12%, 2%);
}

.tabcontent h3 {
    font-family: 'EB Garamond', serif; 
    font-size: 30px;
    text-align: center; 
}

/*Discover Header Section*/
.discover-header {
    height: 8vh;
    width: 100%;
    background-color: #556B2F;
    margin-top: 70px;
    margin-bottom: -70px;
}

.discover-header h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    color: ivory;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 5px;
}

/*Discover Section*/
.discover {
    height: 55vh;
    width: 100%;
    background-color: rgb(222, 240, 192);
    margin-top: 70px;
    margin-bottom: -70px;  
}

.discover-cards {
    display: inline-flex;
}

.cards-box {
    height: 260px;
    width: 400px;
    text-align: center;
    margin: 20px;
    background-color: ivory;
    transform: translate(81%, 20%);
    -webkit-transform: translate(81%, 20%);
    -moz-transform: translate(81%, 20%);
    -ms-transform: translate(81%, 20%);
    -o-transform: translate(81%, 20%);
}

.cards-box img {
    height: 250px;
    width: 200px;
}

.cards-box h1 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}

.cards-box p {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
    margin: 5px; 
    padding-top: 10px;
    text-align: center;
}

.cards-box button {
    height: 50px; 
    width: 250px;
    margin-top: 20px;
    color: ivory; 
    background-color: #556B2F; 
    font-family: 'Cabin Condensed';
    font-size: 20px;
}

.cards-box button:hover {
    color: #556B2F;
    border: 2px solid #556B2F;
    background-color: ivory;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

.cards-box a, .cards-box a:visited {
    text-decoration: none; 
    color: inherit; 
}

/*Buy Header Section*/
.buy-header {
    height: 8vh;
    width: 100%;
    background-color: rgb(171, 199, 123);
    margin-top: 70px;
    margin-bottom: -70px;
}

.buy {
    height: 75vh;
    width: 100%;
    background-color: ivory;
    margin-top: 70px;
    margin-bottom: -70px;
}

.buy-container {
    display: inline-flex;
    transform: translate(10%, 5%);
    -webkit-transform: translate(10%, 5%);
    -moz-transform: translate(10%, 5%);
    -ms-transform: translate(10%, 5%);
    -o-transform: translate(10%, 5%);
}

.buy-container img {
    height: 400px;
    width: 300px;  
    margin: 50px; 
}

.buyheader-container h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 2px;
}

.buy-text h1 {
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    text-align: left;
    padding-top: 10px;
}

.buy-text h2 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
}

.buy-text h3 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top: 50px;
}

.buy-text p {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
}

.buy-text button {
    height: 50px;
    width: 250px;
    margin-top: 20px;
    color: ivory;
    background-color: #556B2F;
    font-family: 'Cabin Condensed';
    font-size: 20px;
}

.buy-text button:hover {
    color: #556B2F;
    border: 2px solid #556B2F;
    background-color: ivory;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

/*Feature Section*/
.feature-header {
    height: 8vh;
    width: 100%;
    background-color: #556B2F;
    margin-top: 70px;
    margin-bottom: -70px;
}

.featureheader-container h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 2px;
    color:ivory; 
}

.feature {
    height: 75vh;
    width: 100%;
    background-color: rgb(222, 240, 192);
    margin-top: 70px;
    margin-bottom: -70px;
}

.feature-container {
    display: inline-flex;
    transform: translate(10%, 5%);
    -webkit-transform: translate(12%, 5%);
    -moz-transform: translate(10%, 5%);
    -ms-transform: translate(10%, 5%);
    -o-transform: translate(10%, 5%);
}

.feature-container img {
    height: 400px;
    width: 300px;
    margin: 50px;
}

.feature-container h1 {
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    text-align: left;
    letter-spacing: 4px;
    padding-top: 10px;
}

.feature-text h1 {
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    padding-top: 10px;
}

.feature-text h2 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
}

.feature-text h3 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top: 50px;
}

.feature-text p {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
}

.feature-text button {
    height: 50px;
    width: 250px;
    margin-top: 20px;
    color: ivory;
    background-color: #556B2F;
    font-family: 'Cabin Condensed';
    font-size: 20px;
}

.feature-text button:hover {
    color: #556B2F;
    border: 2px solid #556B2F;
    background-color: ivory;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

/*Writing Page*/
/*Writing Section*/
.writing-header {
    height: 55vh;
    width: 100%;
    background-image: url(img/writing.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -10px;
    margin-bottom: -70px; 
}

.header-container h1 {
    font-family: 'EB Garamond', serif;  
    font-size: 60px; 
    text-align: center;
    color: white; 
    letter-spacing: 4px; 
    text-shadow: 1px 1px black;
    padding-top: 125px;
}

.header-container h3 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 2px; 
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
    margin-top: -15px;
}

/*Writing Intro Section*/
.writing-intro {
    height: 65vh; 
    width: 100%; 
    background-color: ivory; 
    margin-bottom: -70px; 
}

.intro-container p {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
    margin: 15px 150px;
    text-align: justify;
    line-height: 2; 
}

/*Spotlight Header Section & Middle Earth Header Section & Non-Fiction Section & Young Readers Section*/
.spotlight-header,
.middleearth-header,
.nonfiction-header,
.youngreaders-header {
    height: 8vh;
    width: 100%;
    background-color: #556B2F;
    margin-top: 70px;
    margin-bottom: -70px;
}

.spotlight-container h1, 
.middleearth-container h1, 
.nonfiction-container h1,
.youngreaders-container h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 2px;
    color: ivory;
}

.spotlight,
.nonfiction {
    height: 80vh;
    width: 100%;
    background-color: rgb(222, 240, 192);
    margin-top: 70px;
    margin-bottom: -70px;
}

.middle-earth,
.young-readers {
    height: 80vh;
    width: 100%;
    background-color: ivory;
    margin-top: 70px;
    margin-bottom: -70px;
}

.inspotlight-container, .middlebeyond-container,.notfiction-container, .young-container {
    display: inline-flex;
    transform: translate(10%, 5%);
    -webkit-transform: translate(10%, 5%);
    -moz-transform: translate(10%, 5%);
    -ms-transform: translate(10%, 5%);
    -o-transform: translate(10%, 5%);
}

.inspotlight-container img, 
.middlebeyond-container img, 
.young-container img {
    height: 415px;
    width: 275px;
    margin: 50px;
}

.notfiction-container img {
    height: 410px;
    width: 275px;
    margin: 50px;
}

.spotlight-text h1, .middleearth-text h1,.nonfiction-text h1, .youngreaders-text h1{
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    text-align: left;
    letter-spacing: 4px;
    padding-top: 10px;
    margin-left: 20px; 
}

.spotlight-text h2,
.middleearth-text h2,
.nonfiction-text h2,
.youngreaders-text h2 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 25px;
    text-align: left;
    padding-top: 10px;
}

.spotlight-text p, 
.middleearth-text p,
.nonfiction-text p,
.youngreaders-text p {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    margin: 20px; 
}

.spotlight-text button,
.middleearth-text button,
.nonfiction-text button,
.youngreaders-text button {
    height: 50px;
    width: 850px;
    margin-top: 20px;
    color: ivory;
    background-color: #556B2F;
    font-family: 'Cabin Condensed';
    font-size: 25px;
    margin-left: 20px; 
    letter-spacing: 4px; 
}

.spotlight-text button:hover, 
.middleearth-text button:hover,
.nonfiction button:hover,
.youngreaders-text button:hover {
    color: #556B2F;
    border: 2px solid #556B2F;
    background-color: ivory;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

/*Film and TV Page*/

/*Film Header Section*/
.film-header {
    height: 65vh;
    width: 100%;
    background-image: url(img/lotr.jpg);
    background-size: cover;
    background-position: top;
    margin-top: -10px;
    margin-bottom: -70px;
}

.film-container h1 {
    font-family: 'EB Garamond', serif;
    font-weight: bold; 
    font-size: 60px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
    padding-top: 150px;
}

.film-container h3 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: -15px;
}

/*News Section*/
.news {
    height: 240vh;
    width: 100%;
    background-color: rgb(222, 240, 192);
    margin-top: 50px;
    margin-bottom: -70px;
}

.news-container h1 {
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    text-align: center;
    padding-top: 60px;
}

.news-cards {
    height: 510px !important; 
    width: 300px !important;
    border: 2px solid ivory;
    background-color: ivory;
    display: inline-block;
    margin: 10px 15px;
    transform: translate(80%, 15%);
    -webkit-transform: translate(80%, 15%);
    -moz-transform: translate(80%, 15%);
    -ms-transform: translate(80%, 15%);
    -o-transform: translate(80%, 15%);
}

.news-cards h1 {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    background-color: #556B2F;
    color: ivory;
    height: 50px;
    width: 225px;
    text-align: center;
    padding-top: 5px;
    margin-top: -2px;
}

#news {
    height: 50px;
    width: 90px;
    font-weight: bold;
    letter-spacing: 1px;
}

.news-cards img {
    height: 275px;
    width: 300px;
}

.news-cards h2 {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    text-align: center;
}

.news-cards p {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.news-cards button {
    background-color: #556B2F;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
    color: ivory;
    height: 40px;
    width: 275px;
    margin: 5px 10px 10px;
}

.news-cards button:hover {
    border: 2px solid #556B2F;
    background-color: ivory;
    font-weight: bold;
    color: #556B2F;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.news-cards a,
.news-cards a:hover {
    text-decoration: none;
    color: inherit;
}

.news-label h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 300px;
    padding-top: 10px;
    text-align: center;
    color: ivory;
    background-color: black;
    opacity: .50;
    margin-top: -35px;
}

/*Features and News Page*/
/*Features Header Section*/
.features-header {
    height: 65vh;
    width: 100%;
    background-image: url(img/features.jpg);
    background-size: cover;
    background-position: top;
    margin-top: -10px;
    margin-bottom: -70px;
}

.features-container h1 {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
    padding-top: 150px;
}

.features-container h3 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: -15px;
}

/*Feature Intro Section*/

.filmintro {
    height: 75vh; 
    width: 100%; 
    background-color: ivory; 
    margin-bottom: -70px; 
}

.filmintro-container {
    display: inline-flex;
    transform: translate(10%, 5%);
    -webkit-transform: translate(10%, 5%);
    -moz-transform: translate(10%, 5%);
    -ms-transform: translate(10%, 5%);
    -o-transform: translate(10%, 5%);
}

.filmintro-container img {
    height: 400px;
    width: 300px;
    margin: 50px;
}

.filmintro-container h1 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 2px;
}

.filmintro-text h1 {
    font-family: 'EB Garamond', serif;
    font-size: 35px;
    text-align: left;
    padding-top: 10px;
}

.filmintro-text h2 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 25px;
    text-align: left;
    padding-top: 25px;
}

.filmintro-text h3 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-top: 70px;
}

.filmintro-text p {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
}

.filmintro-text button {
    height: 50px;
    width: 250px;
    margin-top: 20px;
    color: ivory;
    background-color: #556B2F;
    font-family: 'Cabin Condensed';
    font-size: 20px;
}

.filmintro-text button:hover {
    color: #556B2F;
    border: 2px solid #556B2F;
    background-color: ivory;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

/*Film TV Section*/
.filmtv {
    height: 152vh;
    width: 100%;
    background-color: rgb(222, 240, 192);
    margin-top: 70px;
    margin-bottom: -70px;
}

.filmtv-header h1 {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 30px;
    padding-top: 75px;
    text-align: center;
}

.filmtv-container {
    display: inline-flex;
}

.filmtv-card {
    border: 8px solid #556B2F;
    height: 250px;
    width: 200px;
    text-align: center;
    margin: 20px;
    transform: translate(80%, 10%);
    -webkit-transform: translate(80%, 10%);
    -moz-transform: translate(80%, 10%);
    -ms-transform: translate(80%, 10%);
    -o-transform: translate(80%, 10%);
}

.filmtv-card img {
    height: 250px;
    width: 200px;
    border: 6px solid white;
}

.filmtv-card p {
    font-family: 'Libre Baskerville', sans-serif;
    padding-top: 10px;
    text-align: center;
}

.filmtv-label {
    height: 78px;
    width: 200px;
    background-color: black;
    opacity: .75;
    margin-top: -85px;
}

.filmtv-label h1 {
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    height: 25px;
    padding-top: 5px;
}

.filmtv-label #auj {
    font-size: 20px;
    font-weight: bold; 
    line-height: .85;
    margin-bottom: 10px;
}

.filmtv-label #rotk {
    font-size: 20px;
    font-weight: bold;
    line-height: .85;
    padding-top: 15px;
}

.filmtv-label h2 {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px; 
    color: white;
    padding-top: 10px;
}

.filmtv-label h2:hover {
    text-decoration: underline;
}

/*FAQ Page*/

/*FAQ Header Section*/
.faq-header {
    height: 65vh;
    width: 100%;
    background-image: url(img/faq.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -10px;
    margin-bottom: -70px;
}

.faq-container h1 {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px black;
    padding-top: 175px;
}
